.rating {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  counter-reset: raiting;
}

.rating__item {
  display: flex;
  align-items: center;
  counter-increment: raiting;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}

.rating__item::before {
  content: counter(raiting);
  margin-right: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: aquamarine;
}
