.filters-form {
  display: grid;
}

.filters-form__fieldset {
  grid-column: 1 / -1;
  border: none;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.filters-form__fieldset-caption {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.filters-form__search {
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.filters-form__reset {
  margin-bottom: 10px;
}

.filters-form__option {
  margin-bottom: 10px;
}

.filters-form__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-accent);
}

.filters-form__item {
  margin-bottom: 15px;
}
