.select {
  display: block;
  font-size: 16px;
  font-family: inherit;
  color: #333333;
  padding: 10px 25px 10px 5px;
  min-width: 90px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #d6d7d9;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23F85A47' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto, 100%;
}
