.textarea {
  padding: 14px 10px;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #d6d7d9;
  border-radius: 4px;
  min-height: 140px;
  box-sizing: border-box;
  resize: vertical;
}
