body {
  margin: 0;
  min-width: 960px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-image: url("../img/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #301a87;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 20px 32px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  margin: 0;
  margin-right: 55px;
  list-style: none;
  width: 350px;
}

.site-navigation-link {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation-link:hover {
  opacity: 0.7;
}

.site-navigation-link:active {
  opacity: 0.5;
}

.logo img {
  display: block;
}

.lang {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.lang:hover {
  opacity: 0.7;
}

.lang:active {
  opacity: 0.5;
}

.lang::before {
  content: "";
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.lang::after {
  content: "";
  width: 8px;
  height: 4px;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.lang-ru::before {
  background-image: url("../img/russia.svg");
}

.menu {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu:hover {
  opacity: 0.7;
}

.menu:active {
  opacity: 0.5;
}

.menu svg {
  fill: #d9d9d9;
}

.main-section {
  padding-top: 95px;
  padding-bottom: 30px;
}

.main-section h1 {
  width: 540px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.dropdown {
  position: relative;
  margin-left: auto;
  margin-right: 15px;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 140px;
  list-style: none;
  margin: 0;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
}

.dropdown-menu-open {
  display: block;
}

.dropdown-menu-item:not(:last-child) {
  margin-bottom: 16px;
}

.dropdown-menu-link {
  display: flex;
  gap: 8px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu-link::before {
  content: "";
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown-menu-link:hover {
  opacity: 0.7;
}

.dropdown-menu-link:active {
  opacity: 0.5;
}

.dropdown-menu-link-ru::before {
  background-image: url("../img/russia.svg");
}

.dropdown-menu-link-en::before {
  background-image: url("../img/england.svg");
}

.dropdown-menu-link-fr::before {
  background-image: url("../img/france.svg");
}

.dropdown-menu-link-de::before {
  background-image: url("../img/germany.svg");
}

.dropdown-menu-link-ch::before {
  background-image: url("../img/china.svg");
}
