body {
  margin: 0;
  min-width: 960px;
  min-height: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chat-button {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;
  padding: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat-button:hover {
  opacity: 0.7;
}

.chat-button:active {
  opacity: 0.5;
}

.chat-button img {
  display: block;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.chat-button-unread::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #319acb;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.chat-frame {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;

  min-width: 320px;
  min-height: 250px;

  width: 320px;
  height: 350px;

  max-height: calc(100vh - 80px);
  max-width: 70%;

  border: 1px solid #e2e2e2;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
