.raw-content img {
  width: 100%;
  object-fit: cover;
}

.raw-content h1 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.raw-content p.lead {
  margin: 15px 0;
  font-size: 24px;
  line-height: 1.5;
}

.raw-content p {
  margin: 10px 0;
}

.raw-content ol {
  margin-top: 20px;
  margin-bottom: 30px;
}
