body {
  margin: 0;
  min-width: 960px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 10px 32px;
}

.logo {
  margin-right: 185px;
}

.logo img {
  display: block;
}

.form-search {
  display: grid;
  grid-template-columns: 1fr 38px;
  width: 400px;
  flex-shrink: 0;
  border: 1px solid #b6b1e7;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.field {
  border: none;
  padding: 5px 20px;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
}

.field::placeholder {
  color: #b6b1e7;
  opacity: 1;
}

.form-search-button {
  width: 38px;
  height: 30px;
  padding: 0;
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f6f5ff;
  border-radius: 0 3px 3px 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.form-search-button:hover {
  opacity: 0.7;
}

.form-search-button:active {
  opacity: 0.5;
}

.login {
  margin-left: auto;
  padding-left: 30px;
  color: #555555;
  background-image: url("../img/profile.svg");
  background-position: left center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.login:hover {
  opacity: 0.7;
}

.login:active {
  opacity: 0.5;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
}

.dropdown-open .dropdown-content {
  display: block;
}

.smart-search-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
}

.smart-search-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(135, 157, 200, 0.3);
  border-radius: 4px;
}

.smart-search-content-column:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid rgb(246, 245, 255);
}

.smart-search-content-column:not(:first-child) {
  padding-left: 20px;
}

.smart-search-caption {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #b6b1e7;
}

.section-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.section-link {
  padding-left: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  text-decoration: none;
  background-image: url("../img/ico.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.section-link:hover {
  opacity: 0.7;
}

.section-link:active {
  opacity: 0.5;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag {
  display: block;
  padding: 4px 12px 6px;
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  background-color: #f6f5ff;
  border-radius: 4px;
  text-decoration: none;
}

.tag:hover {
  opacity: 0.7;
}

.tag:active {
  opacity: 0.5;
}
