@font-face {
    font-family: "PTRootUI";
    src: url("fonts/PT Root UI_Regular.woff2") format("woff2"), url("../fonts/PT Root UI_Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "PTRootUI";
    src: url("fonts/PT Root UI_Medium.woff2") format("woff2"), url("../fonts/PT Root UI_Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "PTRootUI";
    src: url("fonts/PT Root UI_Bold.woff2") format("woff2"), url("../fonts/PT Root UI_Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    min-width: 1366px;
    margin: 0;
  
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    font-family: "PTRootUI", "Arial", sans-serif;
    color: #120A22;
  
    background-color: #e5e5e5;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 50px;
    padding-right: 98px;
    padding-left: 98px;
    background-color: #ffffff;
  }
  
  .breadcrumbs {
    margin-top: 0;
    margin-bottom: 39px;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumbs li {
    display: inline;
    font-size: 18px;
    line-height: 23px;
  }
  
  .breadcrumb-link {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }
  
  .breadcrumb-link:hover,
  .breadcrumb-link:focus {
    opacity: 0.6;
  }
  
  .breadcrumbs li:last-child {
    opacity: 0.5;
  }
  
  .breadcrumbs li + li::before {
    color: #120A22;
    content: "/\00a0";
  }
  
  .article {
    width: 735px;
    padding-left: 100px;
  }
  
  .article h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
  }
  
  .article .intro {
    margin-bottom: 30px;
  }
  
  .intro {
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
  }
  
  .article h2 {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
  }
  
  .article p {
    margin-bottom: 10px;
  }
  
  .article ol {
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    counter-reset: num;
  }
  
  .article a {
    color: inherit;
  }
  
  .article a:hover,
  .article a:focus {
    opacity: 0.6;
  }
  
  .article li {
    position: relative;
    counter-increment: num;
    margin-bottom: 15px;
    padding-left: 23px;
    font-size: 18px;
    line-height: 23px;
  }
  
  .article li::before {
    content: counter(num) ".";
    position: absolute;
    left: 0;
    top: 0;
  }