body {
  margin: 0;
  min-width: 1420px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #515076;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header {
  background-color: #edecf7;
}

.main-header-nav {
  display: flex;
  align-items: flex-start;
  padding-top: 14px;
  padding-bottom: 10px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0 0 0 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 600px;
}

.site-navigation-item {
  display: flex;
  margin-right: 10px;
}

.site-navigation-link {
  padding: 23px 15px 23px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: rgba(81, 80, 118, 0.5);
  text-decoration: none;
}

.site-navigation-link-active {
  color: #515076;
  background-color: rgba(81, 80, 118, 0.1);
  border-radius: 3px;
}

.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 300px;
}

.user-navigation-item {
  display: flex;
  margin-left: 15px;
}

.user-navigation-link {
  padding: 20px 10px;
  color: inherit;
  text-decoration: none;
}

.main-header-social-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 35px;
  max-width: 120px;
}

.main-header-social-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #515076;
  text-decoration: none;
}

.main-title {
  margin: 130px 0 50px 0;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: normal;
  font-size: 230px;
  line-height: 213px;
  color: #515076;
}

.about {
  padding-bottom: 300px;
  background-image: url("../img/bg-about-1.png"), url("../img/bg-about-2.png");
  background-repeat: no-repeat;
  background-position: 0 240px, 100% 100%;
}

.about-column-wrapper {
  display: flex;
}

.about-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 390px;
  margin-right: 105px;
  flex-shrink: 0;
}

.about-column:last-child {
  margin-right: 0;
}

.about-title {
  margin-top: 40px;
  margin-bottom: 665px;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #63678c;
}

.about-text {
  margin: 0 0 67px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #828282;
}

.about-link {
  display: inline-block;
  padding: 27px 35px;
  margin-left: 65px;
  margin-bottom: 93px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  background-color: #515076;
  border-radius: 100px;
  text-decoration: none;
}

.about-note {
  align-self: flex-end;
  margin-top: 595px;
  width: 200px;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #888794;
  text-align: right;
}

.about-slogan {
  margin-top: 70px;
  font-weight: 300;
  font-size: 36px;
  line-height: 39px;
  color: #757aa5;
}

.catalog {
  padding-top: 200px;
  padding-bottom: 175px;
  background-image: url("../img/bg-catalog.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog .section-title {
  text-align: center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  padding: 80px 0 0 0;
  margin: 0;
}

.catalog-item {
  padding: 69px 20px 45px 20px;
  margin-left: 15px;
  margin-right: 15px;
  width: 290px;
  background-color: #f7f7fa;
}

.catalog-item-big {
  width: 340px;
}

.catalog-item-category {
  margin: 2px 20px 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #a5a3b9;
}

.catalog-item-title {
  width: 180px;
  min-height: 64px;
  margin: 0 0 25px 20px;
}

.catalog-item-title a {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  text-decoration: none;
}

.catalog-item-bottom-wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-item-price {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: rgba(81, 80, 118, 0.8);
}

.catalog-item-price del {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: rgba(81, 80, 118, 0.6);
}

.catalog-item-button {
  margin-left: auto;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sales {
  padding-bottom: 145px;
  background-image: url("../img/bg-sales.png");
  background-repeat: no-repeat;
  background-position: 0 550px;
}

.sales-wrapper {
  display: flex;
  margin-bottom: 270px;
}

.sales-text-column {
  width: 350px;
  flex-shrink: 0;
  padding-top: 25px;
  margin-right: 227px;
}

.sales-card-column {
  width: 750px;
  padding: 40px 0 20px 62px;
  background-color: #f7f7fa;
  box-shadow: -40px 40px 0 #515076;
}

.sales-card-wrapper {
  display: flex;
}

.sales-card-text-column {
  width: 450px;
}

.sales-text {
  margin: 95px 0 110px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #888794;
}

.sales-button-wrapper {
  display: flex;
}

.sales-button {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sales-category {
  display: inline-block;
  margin: 0 0 0 -95px;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(270deg);
  transform-origin: 0 0;
}

.sales-card-num {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #515076;
  background-color: #edecf7;
}

.sales-card-title {
  margin: 70px 0 30px;
  font-weight: 300;
  font-size: 30px;
  line-height: 39px;
  color: #4c5072;
}

.sales-card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #888794;
}

.sales-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0 -35px 0 0;
}

.sales-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  margin-right: 35px;
  background-color: #f7f7fa;
}

.sales-item-discount {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #515076;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(81, 80, 118, 0.1);
}

.sales-item-discount-low {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.sales-item-discount-medium {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  color: #515076;
  background-color: rgba(81, 80, 118, 0.15);
}

.sales-item-discount-high {
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 110px;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #515076;
  background-color: rgba(81, 80, 118, 0.2);
}

.sales-item-text {
  margin: 0;
  padding: 9px 40px 0 40px;
  min-height: 100px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #515076;
}

.sales-item-bottom-wrapper {
  display: flex;
  padding: 10px 40px 40px 40px;
}

.sales-item-price {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: rgba(81, 80, 118, 0.8);
}

.sales-item-price del {
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: rgba(81, 80, 118, 0.6);
}

.sales-item-button {
  margin-left: auto;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.advices {
  padding-top: 120px;
  padding-bottom: 100px;
}

.advices .section-title {
  text-align: center;
}

.advices-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
  padding: 87px 0 10px 0;
  margin: 0;
  max-height: 900px;
}

.advices-item {
  width: 235px;
  padding: 20px 15px 40px 50px;
  margin: 0 15px 30px 15px;
  background-color: #f7f7fa;
  box-shadow: 0 -6px 0 #515076;
}

.advices-item:first-child {
  margin-top: 210px;
}

.advices-item:last-child {
  margin-top: 120px;
}

.advices-item-category {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #a5a3b9;
}

.advices-item-title {
  margin: 0;
  min-height: 56px;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
}

.advices-item-text {
  max-height: 101px;
  margin-top: 29px;
  margin-bottom: 83px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #888794;
}

.advices-item-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #515076;
  text-decoration: none;
}

.profits {
  background-image: url("../img/bg-profit-3.png"), linear-gradient(to bottom, #edecf6 935px, #ffffff 935px, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: top 300px right;
  background-color: #edecf6;
}

.profits-text {
  margin: 0;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: normal;
  font-size: 330px;
  line-height: 305px;
  color: #d6d4e7;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffff 210px, transparent 210px, transparent 100%);
}

.testing {
  margin-top: -95px;
  padding-top: 150px;
  padding-bottom: 100px;
}

.testing-wrapper {
  display: flex;
}

.testing-img-column {
  width: 850px;
  flex-shrink: 0;
}

.testing-text-column {
  width: 460px;
  flex-shrink: 0;
  margin-left: 30px;
}

.testing-title {
  margin: 90px 55px 25px 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #a5a3b9;
}

.testing-counter {
  margin: 0;
  font-weight: 200;
  font-size: 70px;
  line-height: 77px;
  color: #515076;
}

.testing-counter span {
  font-weight: 300;
  font-size: 120px;
  line-height: 131px;
  color: #515076;
}

.testing-text {
  margin: 53px 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #888794;
}

.authors {
  padding-bottom: 5px;
}

.authors-wrapper {
  display: flex;
}

.authors-text-column {
  width: 670px;
  margin-right: 17px;
  flex-shrink: 0;
}

.authors-img-column {
  width: 600px;
  padding: 110px 10px 10px 95px;
  flex-shrink: 0;
}

.authors-name {
  margin: 47px 0 10px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #515076;
}

.authors-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #888794;
}

.authors-quote {
  display: block;
  margin: 43px 10px 80px 55px;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #888794;
}

.authors-preview-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.authors-preview-item {
  margin-right: 65px;
  box-shadow: 0 -6px 0 #515076;
}

.main-footer {
  padding-top: 230px;
  padding-bottom: 300px;
  background-color: #ffffff;
  background-image: url("../img/bg-footer.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts {
  width: 443px;
  padding: 50px 10px 62px 78px;
  background-color: #f7f7fa;
  box-shadow: 0 -6px 0 #515076;
}

.section-title {
  margin: 0;
  font-weight: 200;
  font-size: 70px;
  line-height: 77px;
  color: #757aa5;
}

.contacts-phone {
  display: inline-block;
  margin-top: 26px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #828282;
  text-decoration: none;
}

.contacts-address {
  margin-top: 18px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #828282;
}

.contacts-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  list-style: none;
  padding: 0;
  margin: 24px 0 0 10px;
}

.contacts-social-item {
  margin-right: 30px;
}

.contacts-social-item-link {
  color: inherit;
  text-decoration: none;
}
