.profile-link {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  gap: 10px;
}

.profile-link__caption {
  color: inherit;
  text-decoration: none;
}

.profile-link__img {
  width: 16px;
  height: 16px;
  stroke: #f85a47;
  fill: none;
}
