body {
    margin: 0;
     min-width: 1200px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .green-button {
    display: inline-block;
    padding: 25px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #7eb252;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .main-header-logo {
    margin-right: 30px;
  }
  
  .main-header-delivery {
    width: 400px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #9a9a9a;
  }
  
  .main-header-phone-column {
    margin-left: auto;
    text-align: right;
  }
  
  .phone {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #303030;
    text-decoration: none;
  }
  
  .phone::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-image: url("img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .phone-text {
    margin: 0;
    font-size: 12px;
    line-height: 28px;
    color: #9a9a9a;
  }
  
  .promo-wrapper {
    display: flex;
  }
  
  .promo-img-column {
    width: 570px;
    margin-right: 30px;
    padding-top: 95px;
  }
  
  .promo {
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  .promo-text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }
  
  .promo-text-uppercase {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
  }
  
  .promo-text-big {
    font-size: 60px;
    font-weight: 600;
  }
  
  .statistics {
    padding-top: 85px;
    padding-bottom: 150px;
  }
  
  .statistics-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
  }
  
  .statistics-item {
    width: 270px;
    margin-right: 15px;
    color: #000000;
  }
  
  .item-indicator {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: #a4c58c;
  }
  
  .item-description {
    margin: 0;
  }
  
  .symptoms {
    padding-bottom: 90px;
    background-color: #f6f9f3;
  }
  
  .symptoms-wrapper {
    display: flex;
  }
  
  .symptoms-list-column {
    width: 670px;
  }
  
  .symptoms-img-column {
    width: 500px;
  }
  
  .symptoms-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
  }
  
  .symptoms-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .symptoms-item {
    padding: 30px 7px 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .success-secret {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .success-secret-img-column {
    width: 50%;
    max-width: 875px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  
  .success-secret-list-column {
    width: 50%;
    max-width: 875px;
    flex-shrink: 0;
    padding-left: 70px;
    box-sizing: border-box;
  }
  
  .success-secret-img {
    position: relative;
    margin: 0;
  }
  
  .success-secret-img img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .success-secret-img figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .success-secret-button {
    margin-left: auto;
  }
  
  .success-secret-title {
    max-width: 500px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
  }
  
  .success-secret-list {
    max-width: 500px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .success-secret-list-item {
    margin-bottom: 40px;
  }
  
  .success-secret-list-title {
    max-width: 500px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .set {
    padding-bottom: 150px;
    background-color: #f6f9f3;
  }
  
  .set-title {
    width: 440px;
    margin: 10px 0 50px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
  }
  
  .set-list {
    list-style: none;
    padding: 0;
    margin: 0 -15px 0 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .set-item {
    width: 370px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgb(164, 197, 140);
    min-height: 330px;
  }
  
  .set-item::before {
    content: "";
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
  }
  
  .set-item-herbs::before {
    background-image: url("img/pic1.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .set-item-instuction::before {
    background-image: url("img/pic2.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .set-item-certificate::before {
    background-image: url("img/pic3.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .ingredients {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .ingredients-img-column {
    width: 570px;
    margin-right: 30px;
  }
  
  .ingredients-description-column {
    width: 570px;
    padding-left: 30px;
    box-sizing: border-box;
  }
  
  .ingredients-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
  }
  
  .ingredients-list {
    list-style: none;
    padding: 0;
    margin: 0;
  
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  
  .ingredients-item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #f6f9f3;
  }
  
  .ingredients-item h3 {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #a4c58c;
  }
  
  .ingredients-description-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ingredients-description-item {
    margin-bottom: 40px;
  }
  
  .warranty {
    background-color: #f6f9f3;
  }
  
  .warranty-wrapper {
    display: flex;
  }
  
  .warranty-text-column {
    width: 670px;
    margin-right: 15px;
  }
  
  .warranty-img-column {
    width: 485px;
  }
  
  .warranty-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
  }
  
  .warranty-lead {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  
  .main-footer {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .main-footer-logo {
    margin-right: 90px;
  }
  
  .main-footer-phone-column {
    margin-left: auto;
    text-align: right;
  }
  
  .main-footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 645px;
  }
  
  .main-footer-links-item {
    margin-right: 60px;
  }
  
  .main-footer-links-item:last-child {
    margin-right: 0;
  }
  
  .main-footer-link {
    font-size: 12px;
    line-height: 16px;
    color: #9a9a9a;
  }