.progress {
  display: grid;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 14px;
}

.progress__item {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: #979899;
}

.progress__item::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #d6d7d9;
  border: 1px solid #d6d7d9;
}

.progress__item--active {
  color: #0a121f;
}

.progress__item--active::before {
  border: 1px solid var(--background-color-accent);
  background-color: transparent;
}

.progress__item--checked {
  color: #0a121f;
}

.progress__item--checked::before {
  background-color: var(--background-color-accent);
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--background-color-accent);
}
