body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000218;
    background-color: #fcfcfc;
    min-width: 1366px;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 98px;
    padding-right: 98px;
  }
  
  .container-flex {
    display: flex;
  }
  
  a {
    color: #2f409b;
  }
  
  p {
    margin: 0 0 12px 0;
  }
  
  .main-header {
    border-bottom: 1px solid #000218;
  }
  
  .main-header-nav-wrapper:first-child {
    background-color: #000218;
  }
  
  .main-header-logo {
    padding: 20px 0 17px;
  }
  
  .indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0 0 0 auto;
    list-style: none;
    max-width: 350px;
  }
  
  .indicators-item {
    margin-left: 35px;
  }
  
  .indicator {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .indicator:hover {
    opacity: 0.7;
  }
  
  .indicator:active {
    opacity: 0.5;
  }
  
  .indicator-value {
    margin-right: 5px;
    margin-left: 15px;
  }
  
  .indicator-diff {
    display: inline-block;
    width: 8px;
    height: 11px;
    margin-right: 5px;
    background-image: url("img/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .indicator-diff-grow {
    transform: rotate(180deg);
  }
  
  .rub {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-image: url("img/ruble.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .site-navigation {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 0 15px 0;
    margin: 0;
    width: 600px;
  }
  
  .site-navigation-item {
    margin-right: 40px;
  }
  
  .site-navigation-item:last-child {
    margin-right: 0;
  }
  
  .site-navigation-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000218;
  }
  
  .site-navigation-link:hover {
    opacity: 0.7;
  }
  
  .site-navigation-link:active {
    opacity: 0.5;
  }
  
  .user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0 20px 0;
    margin: 0 0 0 auto;
    width: 250px;
  }
  
  .user-menu-item {
    margin-right: 40px;
  }
  
  .user-menu-item:last-child {
    margin-right: 0;
  }
  
  .user-menu-link {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #000218;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .user-menu-link:hover {
    opacity: 0.7;
  }
  
  .user-menu-link:active {
    opacity: 0.5;
  }
  
  .user-menu-link::before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .user-menu-link-search::before {
    background-image: url("img/search-ico.svg");
    background-size: 18px 18px;
  }
  
  .user-menu-link-email::before {
    background-image: url("img/email-ico.svg");
    background-size: 23px 15px;
  }
  
  .breadcrumbs-wrapper {
    padding: 35px 0 65px;
    background-color: #f1f4fb;
  }
  
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .breadcrumbs-link {
    font-size: 16px;
    line-height: 20px;
    color: #000218;
    text-decoration: none;
  }
  
  .breadcrumbs-link[href] {
    font-weight: 600;
  }
  
  .breadcrumbs-link[href]::after {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .breadcrumbs-link[href]:hover {
    opacity: 0.7;
  }
  
  .breadcrumbs-link[href]:active {
    opacity: 0.5;
  }
  
  .main-article-header {
    background-color: #f1f4fb;
  }
  
  .main-article-header-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    padding-top: 95px;
    padding-bottom: 130px;
    background-position: top right -95px;
    background-repeat: no-repeat;
  }
  
  .meta-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
  }
  
  .meta-col {
    margin-right: 20px;
  }
  
  .meta-col:last-child {
    margin-right: 0;
  }
  
  .meta {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
  }
  
  .meta-ico {
    display: flex;
    align-items: center;
  }
  
  .meta-ico::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .meta-views::before {
    background-image: url("img/eye-ico.svg");
  }
  
  .meta-readingtime::before {
    background-image: url("img/time-ico.svg");
  }
  
  .main-article h1 {
    margin: 30px 0 15px;
    font-size: 42px;
    line-height: 52px;
    max-width: 700px;
  }
  
  .main-article h2 {
    margin: 0 0 30px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  
  .main-article h3 {
    margin: 40px 0 30px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  
  .main-article-header p {
    margin: 0;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    max-width: 475px;
  }
  
  .lead {
    margin: 90px 0 25px;
    max-width: 600px;
    font-size: 24px;
    line-height: 34px;
  }
  
  .intro-text {
    margin: 0 0 30px 0;
    max-width: 640px;
  }
  
  .main-article section {
    width: 700px;
    padding-bottom: 45px;
  }
  
  .main-article abbr {
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
  }
  
  .main-article abbr > a {
    color: inherit;
    text-decoration: none;
  }
  
  .main-article ins {
    text-decoration: none;
  }
  
  .main-article figure {
    margin: 0;
  }
  
  .main-article figcaption {
    margin: 5px 0 10px 0;
    font-size: 12px;
    line-height: 16px;
  }
  
  .main-article mark {
    background-color: #ffd978;
  }
  
  .intro-chart {
    margin-bottom: 40px;
  }
  
  .main-article-nav-title {
    margin: 30px 0 20px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  
  .main-article-nav {
    margin-bottom: 75px;
  }
  
  .main-article-nav-list {
    margin: 0;
    padding: 0 0 0 20px;
  }
  
  .main-article-nav-item {
    margin-bottom: 5px;
  }
  
  .rating {
    margin: 30px 100px 45px 0;
    padding: 0;
    list-style: none;
    counter-reset: rating;
    column-count: 2;
  }
  
  .rating-item {
    position: relative;
    display: flex;
    flex-direction: column;
    counter-increment: rating;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
  }
  
  .rating-item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: counter(rating);
    font-size: 73px;
    line-height: 76px;
    color: rgba(89, 116, 255, 0.13);
  }
  
  .rating-name {
    margin: 10px 0 5px 50px;
    font-weight: 600;
  }
  
  .rating-value {
    margin-left: 50px;
  }
  
  .block-with-aside {
    position: relative;
  }
  
  .block-with-aside aside {
    position: absolute;
    right: -325px;
    top: 160px;
    width: 255px;
  }
  
  .striped-table {
    border-collapse: collapse;
    width: 670px;
    margin-bottom: 25px;
  }
  
  .striped-table caption {
    margin: 30px -10px 20px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
  
  .striped-table th {
    padding: 17px 30px 20px 30px;
    vertical-align: top;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: rgba(0, 2, 24, 0.6);
  }
  
  .striped-table th:first-child {
    padding-left: 10px;
    text-align: left;
  }
  
  .striped-table tr:nth-child(even) {
    background-color: #f1f4fb;
    border-radius: 4px;
  }
  
  .striped-table tr:nth-child(even) td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .striped-table tr:nth-child(even) td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .striped-table .name {
    width: 100px;
  }
  
  .striped-table .value {
    width: 190px;
  }
  
  .striped-table td {
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
  }
  
  .striped-table tr:nth-child(odd) td {
    padding: 21px 10px 21px 10px;
  }
  
  .striped-table td:first-child {
    text-align: left;
  }
  
  .quote {
    position: relative;
    margin: 45px 0 25px 0;
    padding: 10px 0 28px;
    border-top: 1px solid #000218;
    border-bottom: 1px solid #000218;
  }
  
  .quote::before {
    position: absolute;
    content: "“";
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    font-weight: normal;
    font-size: 140px;
    line-height: 70px;
    color: #5974ff;
    background-color: #fcfcfc;
  }
  
  .quote p {
    position: relative;
    margin: 20px 0 15px 0;
    text-align: center;
    z-index: 1;
  }
  
  .quote cite {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  
  .nested-list {
    margin: 0 0 40px 0;
  }
  
  .nested-list ul {
    padding-left: 15px;
    font-weight: 400;
    list-style: none;
    counter-reset: nested-list;
  }
  
  .nested-list > ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  
  .nested-list li {
    counter-increment: nested-list;
    margin-top: 10px;
  }
  
  .nested-list li::before {
    content: counters(nested-list, ".") ". "; /* Добавляем значения всех уровней
                                      вложенности, используя разделитель '.' */
  }
  
  .main-article .columns {
    width: 770px;
    column-width: 370px;
    column-gap: 30px;
    padding-top: 15px;
    padding-bottom: 65px;
  }
  
  .columns h2 {
    column-span: all;
  }
  
  .read-more {
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fcfcfc;
    background-color: #5974ff;
  }
  
  .read-more::after {
    content: "";
    width: 19px;
    height: 10px;
    margin-left: 10px;
    background-image: url("img/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .formula-wrapper {
    margin: 0 0 35px 0;
  }
  
  .formula {
    margin: 32px 0 35px 0;
    font-weight: 600;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
  }
  
  .formula-description div {
    display: flex;
    margin: 0 0 7px 0;
  }
  
  .formula-description dt {
    font-weight: 600;
  }
  
  .formula-description dd {
    margin: 0 0 0 5px;
  }
  
  .main-article .color-table-wrapper {
    margin: 35px 0 35px 0;
  }
  
  .color-table {
    width: 700px;
    background-color: #ececec;
  }
  
  .color-table th {
    padding: 7px 10px 7px 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #fcfcfc;
    background-color: #5974ff;
  }
  
  .color-table th.smaller {
    font-size: 14px;
    line-height: 18px;
  }
  
  .color-table .currency {
    width: 130px;
  }
  
  .color-table .count {
    width: 100px;
  }
  
  .color-table .sum {
    width: 100px;
  }
  
  .color-table .percentage {
    width: 100px;
  }
  
  .color-table tfoot td {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #fcfcfc;
    background-color: #5974ff;
  }
  
  .color-table td {
    padding: 15px 10px 16px 10px;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    background-color: #ffffff;
  }
  
  .main-article-footer {
    padding-top: 30px;
    border-top: 1px solid #000218;
  }
  
  .main-article {
    counter-reset: footnotes;
  }
  
  .main-article-footer .footnotes {
    padding-bottom: 0;
  }
  
  .footnotes h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  
  .footnotes-list {
    margin: 0 0 30px 0;
    padding: 0 0 0 15px;
    font-size: 16px;
    line-height: 22px;
  }
  
  .footnotes-item {
    position: relative;
    margin-bottom: 10px;
  }
  
  .back {
    position: absolute;
    bottom: auto;
    right: auto;
  }
  
  .footnote-label {
    counter-increment: footnotes; /* увеличиваем счётчик для каждой подписи */
    text-decoration: none;        /* убираем подчёркивание для ссылки */
    color: inherit;
    cursor: default;
    outline: none;
  }
  
  .footnote-label::after {
    content: counter(footnotes); /* формируем номер для сноски как 1 2 3 */
    vertical-align: super;               /* отображаем как верхний индекс */
    font-size: smaller;
    color: rgba(0, 2, 24, 0.6);
    cursor: pointer;
  }
  
  .hashtags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
  }
  
  .hashtag {
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #5974ff;
  }
  
  .hashtag a {
    color: inherit;
    text-decoration: none;
  }
  
  .meta-wrapper {
    padding: 28px 0 18px 0;
    border-top: 1px solid #000218;
    border-bottom: 1px solid #000218;
  }
  
  .main-article-aside {
    padding-top: 90px;
    padding-bottom: 95px;
  }
  
  .main-article-aside-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
  }
  
  .main-article-aside h2 {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  
  .see-all {
    padding: 7px 32px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    border: 1px solid #5974ff;
    text-align: center;
    text-decoration: none;
  }
  
  .aside-articles {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin: 0 -30px 0 0;
    list-style: none;
  }
  
  .aside-article {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-right: 30px;
    background-color: #ffffff;
  }
  
  .aside-article-content {
    position: relative;
    padding: 20px;
    height: 127px;
    overflow: hidden;  
    box-sizing: border-box;
  }
  
  .aside-article-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 62px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
  
  .aside-article h3 {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  
  .aside-article a {
    padding: 20px;
    align-self: flex-start;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #5974ff;
  }
  
  .aside-article a:hover {
    opacity: 0.7;
  }
  
  .aside-article a:active {
    opacity: 0.5;
  }
  
  .main-footer {
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #000218;
  }
  
  .main-footer-wrapper:last-child {
    border-top: 1px solid #fcfcfc;
  }
  
  .main-footer-col:last-child {
    width: 400px;
    margin-left: auto;
  }
  
  .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    max-width: 250px;
  }
  
  .social-item {
    display: flex;
    align-items: flex-start;
    margin-right: 35px;
    margin-bottom: 10px;
  }
  
  .social-item:last-child {
    margin-right: 0;
  }
  
  .social-link {
    width: 25px;
    height: 25px;
  }
  
  .social-link:hover,
  .social-link:focus {
    opacity: 0.8;
  }
  
  .social-link:active {
    opacity: 0.5;
  }
  
  .social-link-vk {
    background-image: url("img/vk.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .social-link-facebook {
    background-image: url("img/facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .social-link-instagram {
    background-image: url("img/instagram.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .social-link-twitter {
    background-image: url("img/twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .main-footer-nav {
    padding: 0;
    margin: 0 0 30px 160px;
    list-style: none;
    column-count: 2;
    column-gap: 85px;
  }
  
  .main-footer-nav-item {
    margin-bottom: 5px;
  }
  
  .main-footer-nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #fcfcfc;
    text-decoration: none;
  }
  
  .main-footer-nav-link:hover {
    opacity: 0.7;
  }
  
  .main-footer-nav-link:active {
    opacity: 0.5;
  }
  
  .subscribe {
    display: flex;
    margin: 10px 0 15px;
  }
  
  .subscribe-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #000218;
    padding: 13px 15px;
    background-color: #fcfcfc;
    border: none;
    box-sizing: border-box;
    width: 230px;
  }
  
  .subscribe-button {
    padding: 13px 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    background-color: #5974ff;
    border: none;
  }
  
  .agreements {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(252, 252, 252, 0.6);
  }
  
  .copyright {
    margin: 0;
    padding: 20px 0 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(252, 252, 252, 0.6);
  }
  
  .policy {
    margin-left: auto;
    padding: 20px 0 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(252, 252, 252, 0.6);
    text-decoration: none;
  }
  
  .policy:hover {
    opacity: 0.7;
  }
  
  .policy:active {
    opacity: 0.5;
  }