body {
    min-width: 1366px;
    margin: 0;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #161517;
  
    background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 98px;
    padding-right: 98px;
    background-color: #f8f7fd;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .logo {
    flex-shrink: 0;
    width: 70px;
    padding: 10px;
    margin-right: 10px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .logo:hover,
  .logo:focus {
    opacity: 0.6;
  }
  
  .site-nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    padding: 0;
    list-style: none;
  }
  
  .site-nav li {
    margin-right: 10px;
  }
  
  .nav-link {
    display: block;
    padding: 10px;
    color: inherit;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    opacity: 0.6;
  }
  
  .nav-link-current {
    color: #0f00b6;
  }
  
  .user-nav {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }
  
  .user-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  
  .button {
    display: block;
    max-width: 315px;
  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
  
    font-weight: 500;
    text-align: center;
    border: 2px solid #0f00b6;
  }
  
  .button-outline {
    color: inherit;
    background-color: inherit;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .button-outline:hover,
  .button-outline:focus {
    color: #f8f7fd;
    background-color: #0f00b6;
  }
  
  .button-filled {
    color: #f8f7fd;
    background-color: #0f00b6;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .button-filled:hover,
  .button-filled:focus {
    color: inherit;
    background-color: inherit;
  }